<!DOCTYPE html>
<html>
<head>
    <th:block th:replace="/layout/head"></th:block>
    <title>画面（任务项）一览</title>
    <script th:src="@{/js/page_list.js}"></script>
</head>

<body>
<div style="margin:0 auto;width:1000px">
    <h2>画面（任务项）一览</h2>
    <p>选择项目(双击所在行)后跳转到测试项目一览</p>
    <div style="height:600px">
        <table id="page_grid"></table>
    </div>
</div>

<th:block th:replace="/layout/footer"></th:block>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<input type="hidden" id="projId" th:value="${projId}"/>
</body>
</html>