<!DOCTYPE html>
<html>
<head>
    <th:block th:replace="/layout/head"></th:block>
</head>

<body>
<div class="layui-col-xs4 layui-col-sm12 layui-col-md2"><div>&nbsp;</div></div>
<div class="layui-col-xs4 layui-col-sm12 layui-col-md8">
    <div style="margin-top:60px">
        搜索画面名称：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off"/>
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>

    <table id="page_table" lay-filter="demoEvent"></table>
</div>
<div class="layui-col-xs4 layui-col-sm12 layui-col-md2"><div>&nbsp;</div></div>

<th:block th:replace="/layout/footer"></th:block>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<input type="hidden" id="projId" th:value="${projId}"/>
<script>
    var table = layui.table;
    table.render({
        elem: '#page_table',
        height: 313,
        page: true,
        url: Ap_CtxPath + '/ajax/getProjPageList?projId=' + $('#projId').val(),
        cols: [[ //表头
            {field:'staTime', width:100, event: 'rowSelected', style:'cursor: pointer;', title: '分组一'},
            {field:'endTime', width:100, event: 'rowSelected', style:'cursor: pointer;', title: '分组二'},
            {field:'projName', width:400, event: 'rowSelected', style:'cursor: pointer;', title: '画面名称'},
            {field:'itemCnt', event: 'rowSelected', style:'cursor: pointer;', title: '项目数'},
            {field:'dnfCnt', event: 'rowSelected', style:'cursor: pointer;', title: '未完成数'},
            {field:'bugCnt', event: 'rowSelected', style:'cursor: pointer;', title: '故障数'}
        ]]
    });
    //监听单元格事件
    table.on('tool(demoEvent)', function(obj) {
        if (obj.event === 'rowSelected') {
            layer.load(1);
            var data = obj.data;
            window.location.href = Ap_CtxPath + "/page_list?projId=" + data._id;
        }
    });
</script>
</body>
</html>