<!DOCTYPE html>
<html>
<head>
    <th:block th:replace="/layout/head"></th:block>
    <title>工程项目一览</title>
    <script th:src="@{/js/proj_list.js}"></script>
</head>

<body style="overflow-y:hidden">
<div style="width:100px;float:right">
    <div class="easyui-panel">
        <a href="#" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-more',width:'100%'">菜单</a>
    </div>
    <div id="mm1" style="width:150px;">
        <th:block >
            <div data-options="iconCls:'fa fa-edit'" onclick="javascript:editProject()">编辑</div>
            <div class="menu-sep"></div>
            <div data-options="iconCls:'fa fa-plus'" onclick="javascript:newProject()">新增</div>
            <div class="menu-sep"></div>
        </th:block>
        <div data-options="iconCls:'fa fa-bar-chart-o '" onclick="javascript:showInfo()">查看统计数据</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'fa fa-sign-out'" th:href="@{/logout}">退出</div>
    </div>
</div>
<div style="margin:0 auto;width:100%">
    <h2>工程项目一览</h2>
    <p>选择项目(双击所在行)后跳转到画面一览</p>
    <table id="proj_grid"></table>
</div>

<div id="editDlg" class="easyui-dialog" style="width:600px" data-options="buttons:'#btns1',closed:true,modal:true">
    <div style="margin-left:60px;margin-top:20px">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" id="projName" style="width:450px" data-options="label:'项目名称:',required:true"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-datebox" id="begTime" style="width:450px" data-options="label:'开始时间:'"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-datebox" id="endTime" style="width:450px" data-options="label:'结束时间:'"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" id="remarks" style="width:450px;height:70px" data-options="label:'备注:',multiline:true"/>
        </div>
        <input type="hidden" id="projId"/>
    </div>
</div>
<div id="btns1" style="display:none">
    <a id="delBtn" href="#" class="easyui-linkbutton" style="width:80px;margin-left:0px;float:left" onclick="deleteProject()">删除</a>
    <a href="#" class="easyui-linkbutton" style="width:80px" onclick="$('#editDlg').dialog('close')">取消</a>
    <a href="#" class="easyui-linkbutton" style="width:80px" onclick="submitForm()">保存</a>
</div>
</body>
</html>